/* index.css */

body {
  font-family: 'Arial', sans-serif;
  background: url('./stacked-peaks-haikei.svg') no-repeat center center fixed;
  background-size: cover;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.quiz-container {
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 600px;
  padding: 30px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.quiz-container:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.active-question-no {
  font-weight: bold;
  font-size: 1.4em;
  margin-right: 10px;
  color: #333;
}

.total-question {
  font-size: 1.2em;
  color: #888;
}

h2 {
  font-size: 1.8em;
  margin: 20px 0;
  color: #333;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background-color: #f1f1f1;
  margin: 10px 0;
  padding: 15px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, transform 0.3s ease;
}

li:hover {
  background-color: #e0e0e0;
  transform: translateX(5px);
}

li.selected {
  background-color: #4caf50;
  color: #ffffff;
}

button {
  background-color: #4caf50;
  color: white;
  padding: 12px 20px;
  margin: 20px 0;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s, transform 0.3s;
}

button:hover {
  background-color: #45a049;
  transform: translateY(-2px);
}

button:active {
  transform: translateY(1px);
}
